.landing-container {
  background: #101C28 ;
  min-height: 100vh;
  border-radius: 4px;
  color: #E8F1F8;
}

.profile-img {
	width: 100%;
	padding: 20px;
}

.user-detail
 {  
  position: absolute;
  width: 100%;
  text-align: left;
  bottom: 10px;
  padding-left: 20px;
   background: rgba(16,28,40, 0.5);
   color: #E8F1F8;
   width: 100%;  
 }