.right-menu {
    float: right;
}

.nav-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #101C28 !important;
    color: #E8F1F8;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;

}

.add-image-button {
  background: #222F3F !important;
  color: #fff;
  border: none !important;
  margin: 4px 6px;
}

.title-box {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 6px;
}